.imagenpanda{
	width: 325px
}
.imgosopolar{
	width: 325px
}
.imgosopardo{
	width: 325px
}
h1{
	background-color: #62B13F;
	height: 50px;
 }
.navbargreen{
	background-color: #62B13F;
}
hr{
	width: 1px;
}